{{#bs-navbar type="" class="navbar-fixed-top" as |navbar|}}

  <div class="navbar-header">
    {{#navbar.toggle}}
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    {{/navbar.toggle}}
    {{#link-to 'index' class="navbar-brand"}}<img src="/images/arbolito.gif" width="40" height="40" />{{/link-to}}
  </div>

  {{#navbar.content}}
    {{#navbar.nav class="navbar-firstnav" as |nav|}}

      {{#if session.isAuthenticated}}
      
        {{#nav.item}} {{#link-to "index"}}<h2>Buy</h2>{{/link-to}} {{/nav.item}}
        {{#nav.item}} {{#link-to "sell"}}<h2>Sell</h2>{{/link-to}} {{/nav.item}}
      
        {{#bs-dropdown  tagName="li" as |dd|}}
          {{#dd.toggle}}Admin <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}} {{#nav.link-to "admin.categories"}}Categories{{/nav.link-to}} {{/ddm.item}}
            {{!-- {{#ddm.item}} {{#nav.link-to "admin.contacts"}}Contacts{{/nav.link-to}} {{/ddm.item}} --}}
            {{#ddm.item}} {{#nav.link-to "admin.users"}}Users{{/nav.link-to}} {{/ddm.item}}
          {{/dd.menu}}
        {{/bs-dropdown}}

        

        {{#nav.item class="navbar-right"}}
          {{#bs-button class="navbar-btn" icon="glyphicon glyphicon-shopping-cart" onClick=(action "openCheckout")}}
            Shopping cart<span class="badge">{{shoppingCart.items.length}}</span>
          {{/bs-button}}

          {{#bs-button class="navbar-btn" icon="glyphicon glyphicon-off" onClick=(action "signOut")}}Sign out{{/bs-button}}

          {{language-select}}
        {{/nav.item}}
      
      {{else}}

        {{#nav.item class="navbar-right"}}
          {{login-form session=session signIn='signIn'}} {{!   register='signOut' }}
        {{/nav.item}}

      {{/if}}

    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
