
{{main-nav session=session signOut='signOut'}}

<div class="container">
    {{#if session.isAuthenticated}}
      {{outlet}}
    {{else}}
        {{login-form session=session signIn='signIn' signOut='signOut'}}
    {{/if}}
</div>