{{#if session.isAuthenticated}}
  <h1>Your items for sale</h1>

	<div class="panel panel-default">
	  <div class="panel-body">
  		{{#link-to 'item.new' class='btn btn-info pull-right'}}Add new item{{/link-to}}
	  </div>
	</div>

	<div class="row">
	  {{#each model as |item|}}
	    <div class="col-md-4">
	      {{#item/item-item item=item}}
	        {{#link-to 'item.edit' item.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
	        <button class="btn btn-danger btn-xs" {{action 'deleteItem' item}}>Delete</button>
	      {{/item/item-item}}
	    </div>
	  {{/each}}
	</div>
{{else}}
    Que haces aqui???
{{/if}}
