@import "bootstrap";
@import "ember-bootstrap/bootstrap";

body { padding-top: 70px; }

html { overflow-y: scroll; }

.product-item {
  min-height: 150px;
}

.right {
	float: right !important;
	margin-right: -15px;
}
