@import "bootstrap";
@import "ember-bootstrap/bootstrap";
@import "ember-power-select";

html { overflow-y: scroll; }
body { padding-top: 70px; }

.navbar-nav {
  float:none;
  margin:0 auto;
  text-align: center;
}

.navbar-brand img {
	display: inline-block;
}

.navbar-firstnav > li {
  display: inline-block;
  float:none;
}

.navbar-firstnav > li > a > h2 {
	margin-top: 2px;
	margin-bottom: 2px;
}