{{#bs-navbar type="inverse" class="navbar-fixed-top" as |navbar|}}

  <div class="navbar-header">
    {{#navbar.toggle}}
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    {{/navbar.toggle}}
    {{link-to 'Ecool Market' 'index' class="navbar-brand"}}
  </div>

  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "about"}}About{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "contact"}}Contact{{/nav.link-to}}{{/nav.item}}
    {{/navbar.nav}}

    {{#if session.isAuthenticated}}
      {{#navbar.nav class="righ" as |nav|}}
        {{#nav.item}}{{#nav.link-to "sell"}}Sell{{/nav.link-to}}{{/nav.item}}
        {{#bs-dropdown tagName="li" as |dd|}}
          {{#dd.toggle}}Admin <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}} {{#nav.link-to "admin.categories"}}Categories{{/nav.link-to}} {{/ddm.item}}
            {{#ddm.item}} {{#nav.link-to "admin.contacts"}}Contacts{{/nav.link-to}} {{/ddm.item}}
            {{#ddm.item}} {{#nav.link-to "admin.users"}}Users{{/nav.link-to}} {{/ddm.item}}
          {{/dd.menu}}
        {{/bs-dropdown}}

        {{#bs-button icon="glyphicon glyphicon-shopping-cart" onClick=(action "openCheckout")}}
          Shopping cart<span class="badge">{{shoppingCart.items.length}}</span>
        {{/bs-button}}

        {{#bs-button icon="glyphicon glyphicon-off" onClick=(action "signOut")}}
          Sign out
        {{/bs-button}}
      {{/navbar.nav}}
    {{/if}}
  {{/navbar.content}}
{{/bs-navbar}}
