{{#bs-navbar type="" class="navbar-fixed-top" as |navbar|}}

  <div class="navbar-header">
    {{#navbar.toggle}}
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    {{/navbar.toggle}}
    {{link-to 'Ecool Market' 'index' class="navbar-brand"}}
  </div>

  {{#navbar.content}}
   {{!--  {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "about"}}About{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "contact"}}Contact{{/nav.link-to}}{{/nav.item}}
    {{/navbar.nav}} --}}

    {{#if session.isAuthenticated}}
      {{#navbar.nav class="navbar-firstnav" as |nav|}}
        {{#nav.item}} {{#link-to "index"}}<h2>Buy</h2>{{/link-to}} {{/nav.item}}
        {{#nav.item}} {{#link-to "sell"}}<h2>Sell</h2>{{/link-to}} {{/nav.item}}
      
        {{#bs-dropdown  tagName="li" as |dd|}}
          {{#dd.toggle}}Admin <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}} {{#nav.link-to "admin.categories"}}Categories{{/nav.link-to}} {{/ddm.item}}
            {{#ddm.item}} {{#nav.link-to "admin.contacts"}}Contacts{{/nav.link-to}} {{/ddm.item}}
            {{#ddm.item}} {{#nav.link-to "admin.users"}}Users{{/nav.link-to}} {{/ddm.item}}
          {{/dd.menu}}
        {{/bs-dropdown}}

        {{#nav.item class="pull-right"}}
          {{#bs-button class="navbar-btn" icon="glyphicon glyphicon-shopping-cart" onClick=(action "openCheckout")}}
            Shopping cart<span class="badge">{{shoppingCart.items.length}}</span>
          {{/bs-button}}

          {{#bs-button class="navbar-btn" icon="glyphicon glyphicon-off" onClick=(action "signOut")}}Sign out{{/bs-button}}
        {{/nav.item}}
      {{/navbar.nav}}
    {{else}}
      {{login-form session=session signIn='signIn'}} {{!   register='signOut' }}
    {{/if}}
  {{/navbar.content}}
{{/bs-navbar}}
